* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $base-size;
}

body {
    font-family: $base-font, Roboto, Helvetica, sans-serif;
    text-align: center;
    font-weight: $medium-font;
}