.button {
    @include button;
    &::after {
        content: "";
        width: 28px;
        height: 12.73px;
        margin: 28.57px 21px 28.7px;
        color: rgba(255, 255, 255, 1);
        display: block;
        background-image: url("..//img/arrow.svg");
    }
}

@media screen and (max-width: 500px) {
    .button {
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding: 1px;
        bottom: 15px;
        right: 15px;
        &::after {
            content: "";
            margin: 15px auto;
        }
    }
}